{% extends 'base.html' %}

{% block title %}
  Agents Network - Dreams Land Realty
{% endblock %}

{% block content %}
  <br />
  <br />
  <!-- Parallax Section -->
  <div class="agents-parallax-section">
    <div class="agents-parallax-content text-center text-white">
      <h1 data-aos="fade-right" class="text-white">Agents Network</h1>
      <p data-aos="fade-right" class="text-white">We're here to help you with all your real estate needs.</p>
    </div>
  </div>

  <br />

  <!-- Section about agents and real estate expertise -->
  <div class="agents-info-section container text-center bg-light py-5">
    <h2 class="text-center" data-aos="fade-right" style="color: #0a032f; font-size: 38px; "><b>Your Investment, Our Priority</b></h2>
    <p class="content-text" data-aos="fade-right">We believe in the power of dreams and provide the roadmap to achieve them. Our robust team of over 250+ highly skilled professionals in Kerala is dedicated to providing expert guidance, with plans to expand nationwide by 2026.</p>
    <p class="content-text" data-aos="fade-right">Our agent's in-depth understanding of the real estate market sets them apart. They are the essence of local market expertise, providing unparalleled insights that ensure your investments are in the best hands.</p>
    <p class="content-text" data-aos="fade-right">This ground-level expertise, combined with our commitment to protecting and growing your wealth, ensures a roadmap to turn your property dreams into reality. Whether you’re looking to buy, sell, or invest, our agents are dedicated to your success, making us your ideal real estate partner.</p>
  </div>
  <br />
{% endblock %}
