{% extends 'base.html' %}

{% block title %}
  Global Reach - Dreams Land Realty
{% endblock %}

{% block content %}
  <br />
  <br />
  <br />
  <!-- Parallax Section -->
  <div class="globalreach-parallax">
    <div class="globalreach-parallax-content text-center text-white">
      <h1 data-aos="fade-right" class="text-white">Our International Business Associates</h1>
      <p data-aos="fade-right" class="text-white">We're here to help you with all your real estate needs.</p>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="globalreach-container my-5">
    <h2 data-aos="fade-right" class="text-center my-4" style="font-size: 38px;">Global Reach</h2>
    <p data-aos="fade-right" class="justify-content-center">Since our inception in 2012, Dreams Land Realty has solidified its position as a prominent player in the Indian real estate market. Our strategic expansion to the United Arab Emirates, particularly Dubai, over the past five years has been instrumental in fostering strong global connections. Through our collaborations with a diverse network of esteemed builders, we have successfully reached major real estate markets in Oman, Qatar, Saudi Arabia, Bahrain, the UK, USA, and Australia, bridging the gap between clients and their ideal properties. Our in-depth understanding of global real estate markets, coupled with our commitment to client satisfaction, has enabled us to cultivate enduring relationships with clients from various other countries as well.</p>
    <br />
    <h2 data-aos="fade-right" class="text-center my-4">Proud Industry Collaborations</h2>
    <br />
    <!-- Infinite Scrolling Slider Section -->
    <div class="globalreach-bank-slider-wrapper">
      <div class="globalreach-bank-slider">
        <div class="globalreach-bank-slide">
          <img src="static/images/emaar1.gif" alt="Bank Image 1" />
          <img src="static/images/shoba.gif" alt="Bank Image 2" />
          <img src="static/images/damac1.gif" alt="Bank Image 3" />
          <img src="static/images/aldar.gif" alt="Bank Image 4" />
          <img src="static/images/danube.gif" alt="Bank Image 5" />
          <img src="static/images/ninga.gif" alt="Bank Image 6" />
          <img src="static/images/leos.gif" alt="Bank Image 7" />
          <img src="static/images/tiger.gif" alt="Bank Image 8" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
