{% extends 'base.html' %}

{% block title %}
  Our Legal Team - Dreams Land Realty
{% endblock %}

{% block content %}
  <br />
  <br />
  <br />
  <!-- Legal Team Parallax Section -->
  <div class="legal-team-parallax">
    <div class="legal-team-parallax-content text-center text-white">
      <h1 data-aos="fade-right" data-aos="fade-right" class="text-white">Our Legal Team</h1>
      <p data-aos="fade-right" class="text-white">We're here to help you with all your real estate needs.</p>
    </div>
  </div>

  <!-- Two-column layout with Bootstrap -->
  <div class="container mt-5">
    <div class="row">
      <!-- Legal Team Left Container (Text) -->
      <div class="col-md-6 d-flex align-items-center bg-light legal-team-left-container">
        <div>
          <h2 data-aos="fade-right">Meet Our Expert Legal Team</h2>
          <p data-aos="fade-right" class="justify-content-center" style="font-size: 15px;">At Dreams Land Realty, we understand that real estate transactions involve complex legal aspects. To ensure a seamless and secure process for our clients, we have assembled a dedicated legal team led by Mrs. Shilpa Vimal, BA,LL.B,LL.M.Our team comprises a panel of 25 experienced advocates who are well-versed in real estate laws, tax laws, property rights, and regulatory compliance. We are committed to providing comprehensive legal support throughout the entire property buying and selling journey. With our experienced legal team by your side, you can have complete peace of mind throughout your real estate transaction. Our panel of advocates also offers cost-effective property documentation solutions.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Legal LLB Section -->
  <div class="container mt-2">
    <div class="container-wrapper">
      <div class="left-container text-left">
        <p11 data-aos="fade-right">“Our team doesn’t just offer legal advice; we provide tailored solutions. By thoroughly understanding</p11>
        <p11 data-aos="fade-right">your unique background, we ensure that your property interests are not just protected, but fortified.</p11>
        <p11 data-aos="fade-right">We’re here to make complex legal matters simple and secure for you.”</p11>
        <br>
        <p12 data-aos="fade-right">- <b style="font-weight: 500;">Mrs. Shilpa Vimal</b></p12>
        <p13 style="font-weight: 500;" data-aos="fade-right">(B.A.LLB, LL.M) – Legal Head, Dreams Land Realty</p13>
      </div>
      <div class="right-container">
        <img src="static/images/lawyer.gif" alt="CEO Image" data-aos="fade-right">
      </div>
    </div>
  </div> 
{% endblock %}
